In [26]:
# Data processing
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import StandardScaler,LabelEncoder
# Suppress warnings
import warnings
warnings.filterwarnings("ignore")

In [28]:
df = pd.read_csv('/Users/aiyan/Desktop/EL/Task1/Mall_Customers.csv')

In [30]:
# 1. Identify and handle missing values
print("Missing values before handling:\n", df.isnull().sum())
df.fillna(method='ffill', inplace=True)  # Forward fill as an example; you can use other strategies
# 2. Remove duplicate rows
df = df.drop_duplicates()

Missing values before handling:
 CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [32]:

label_encoder = LabelEncoder()
df['Gender'] = label_encoder.fit_transform(df['Gender'])

scaler = StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [34]:
# Display cleaned DataFrame
print("Cleaned DataFrame:\n", df.head())

Cleaned DataFrame:
    CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1       1   19                  15                      39
1           2       1   21                  15                      81
2           3       0   20                  16                       6
3           4       0   23                  16                      77
4           5       0   31                  17                      40

In [32]:
print(type(df))

<class 'numpy.ndarray'>

In [34]:
# Clean column names
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

# Example: convert age to numeric
if 'age' in df.columns:
    df['age'] = pd.to_numeric(df['age'], errors='coerce').fillna(0).astype(int)

AttributeError: 'numpy.ndarray' object has no attribute 'columns'